<div class="flex flex-col">
  <h1>Editando cidadão</h1>

  <%= render "form", municipe: @municipe %>

  <br>

  <div>
    <%= link_to "Mostrar esse cidadão", @municipe %> |
    <%= link_to "Voltar para cidadãos", municipes_path %>
  </div>
</div>