<div class="flex flex-col items-center w-full max-w-lg p-4">
  <h1><%= t('.title') %></h1>

  <%= render "form", municipe: @municipe %>

  <br>

  <div>
    <%= link_to t('.back'), municipes_path %>
  </div>
</div>
